body{
    background-image: url("../images/body.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.outer{
    position: static;
    overflow: auto;
    height: inherit;
    width: 100%;
    margin-top: 43px;
}

.body{
    border: solid 1px silver;
    border-bottom: none;
    width: 830px;
    height: auto;
}

.inner-body{
    height: inherit;
    width: auto;
}

.wrapper-menus{
    position: fixed;
    width: 830px;
    z-index: 1000;
    height: 22px;
    background-color: silver;
}

.topmenus{
    margin: 0px;
    padding: 0px;
    height: auto;
}

.topmenus ul{
    list-style: none;
    position: relative;
    display: block;
    padding: 0px;
    margin: 0px;
}

.topmenus li{
    padding-right: 1px;
    float: right;
}

.topmenus li.li_search{
    float: left;
}

.topmenus li.li_search div{
    padding-left: 200px;
    border-right: none;
}

.topmenus li.li_search div input{
    height: auto;
    width: 230px;
    border: solid 1px silver;
    color: silver;
    font-size: 10px;
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

.topmenus li.li_search div input:focus{
    height: 12px;
    width: 230px;
    border: solid 1px silver;
    color: #000000;
    font-size: 10px;
    font-weight: normal;
    box-shadow: 0px 0px 3px blue;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    text-decoration: none;
}

.topmenus li div{
    border-right: solid 1px darkgray;
    padding-right: 1px;
}

.topmenus li div.div_find_friend{
    border: none;
}

.topmenus ul li a#link_prof{

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    color: black;
    cursor: pointer;
}

.topmenus ul li a#link_home{

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    color: black;
    cursor: pointer;
}

.topmenus ul li a#link_prof:hover{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    color: black;
    cursor: pointer;
    background-color: rgba(220,220,220,.5);
}

.topmenus ul li a#link_home:hover{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    color: black;
    cursor: pointer;
    background-color: rgba(220,220,220,.5);
}

.topmenus ul li a#link_home_prof{

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    color: black;
    cursor: pointer;
}


.topmenus ul li a#link_home_prof:hover{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    color: black;
    cursor: pointer;
    background-color: rgba(220,220,220,.5);
}



.topmenus ul li a#link_find_friend:link{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    color: black;
    cursor: pointer;
    background-color: rgba(220,220,220,.5);
}

.topmenus ul li a#link_prof_user:link{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    color: black;
    cursor: pointer;
    background-color: rgba(220,220,220,.5);
}

.div_leftSide{
    position: fixed;
    z-index: 1000;
    background-color: rgba(200,200,200,.1);
    float: left;
    /* height: 932px;*/
    height: auto;
    width: 250px;
}

.user_info{
    height: auto;
}

#tbl_user_info{
    margin-top: 35px;
    border-bottom: solid 1px darkgray;
    width: 210px;
}

#tbl_user_info tr td a{
    color: greenyellow;
    font-size: 12px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    cursor: pointer;
}

.liner{
    color: silver;
    font-size: 12px;
}

#td_link_edit{
    padding-top: 6px;
}

#tbl_user_info tr td a#a_link_edit{
    color: silver;
    font-size: 12px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    cursor: pointer;
}

#tbl_user_info tr td a#a_link_edit:hover{
    color: silver;
    font-size: 12px;
    text-decoration: underline;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    cursor: pointer;
}

#tbl_user_info tr td img{
    cursor: pointer;
}


/*tbody*/

#tbl_user_info tbody tr td a{
    color: yellowgreen;
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 14px;
    cursor: default;
    text-align: center;
}

#tbl_user_info tbody tr td a:hover{
    color: greenyellow;
    font-size: 14px;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    cursor: pointer;
}

#tbl_user_info tr td a#edit_proLink{
    color: silver;
    font-size: 10px;
    text-decoration: none;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    cursor: pointer;
    border-radius: 2px;
    cursor: pointer;
}

#tbl_user_info tr td .span_out span.liner{
    color: silver;
    font-size: 12px;
}

#tbl_user_info tr td a#edit_proLink{
    cursor: pointer;
    color: silver;
    font-size: 10px;
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    text-decoration: none;
}

#tbl_user_info tr td a#edit_proLink:hover{
    cursor: pointer;
    color: silver;
    font-size: 10px;
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    text-decoration: underline;
}

#tbl_actions{
    padding-top: 5px;
    border-collapse: collapse;
    border: none;
    width: 210px;
}

#tbl_actions tr td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

a.span_txt{
    color: rgb(200,200,200);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

a.span_txt:hover{
    color: rgb(200,200,200);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 12px;
    text-decoration: underline;
    text-align: center;
}

span.span_txt{
    color: rgb(200,200,200);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

#tbl_info{
    /*background-color: gray;*/
    border-collapse: collapse;
    border-bottom: solid 1px darkgray;
    width: 210px;
}

#tbl_info tr td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

#tbl_info tr:hover{
    background-color: rgba(200,200,200,.10);
}

.span_count_on{
    color: yellow;
    font-size: 11px;
}

.fg_num{
    color: yellow;
    font-size: 11px;
}

.ontweeter_count_on{
    color: yellow;
    font-size: 11px;
}


.fr_num{
    color: yellow;
    font-size: 11px;
}

/*Div right Side*/

.div_rightSide{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(200,200,200,.1);
    float: right;
    /* height: 923px;*/
    height: auto;
    border-radius: 3px;
    width: 578px;
}

.div_editing{
    padding: 5px;
    height: auto; /* height may be optional */
    width: 555px;
}

.fld_edit_account_set{
    overflow: auto;
    overflow-x: hidden;
    border: solid 1px rgba(100,100,100,1.50);
    border-radius: 5px;
}

.fld_edit_account_set legend{
    font-weight: bold;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    color: rgba(0,180,220,50);
    padding-top: 16px;
    padding-bottom: 10px;
}

#email_settings{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#email_settings td.id_hide{
    display: none;
}
#email_settings tbody.tbody_edit_set tr td{
    padding-top: 15px;
    padding-bottom: 20px;
}

#email_settings tfoot tr td{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#email_settings tbody.tbody_edit_set tr td span{
    color: rgb(200,200,200);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: none;
}

#email_settings tbody.tbody_edit_set tr td input{
    background-color: rgba(200,200,200,.0);
    width: auto;
    color: yellowgreen;
    border-top: none;
    border-bottom: solid 1px darkgray;
    border-left: none;
    border-right: none;
}

#email_settings tbody.tbody_edit_set tr td input:focus{
    background-color: white;
    box-shadow: 0px 0px 5px orange;
    border-radius: 2px;
    width: auto;
    color: black;
    border-top: none;
    border-bottom: solid 1px darkgray;
    border-left: none;
    border-right: none;
}

#tbl_prof_edit{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#tbl_prof_edit thead tr td{
    width: 130px;
    padding-top: 15px;
    padding-bottom: 2px;
}

#tbl_prof_edit thead tr td span{
    color: rgb(200,200,200);
    font-weight: bold;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: underline;
}

#tbl_prof_edit td.id_hide{
    display: none;
}

#tbl_prof_edit tbody.tbody_edit_set tr td{
    padding-top: 15px;
    padding-bottom: 20px;
}

#tbl_prof_edit tbody.tbody_edit_set tr td span{
    color: rgb(200,200,200);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: none;
}

#tbl_prof_edit tbody.tbody_edit_set tr td input{
    background-color: rgba(200,200,200,.0);
    width: auto;
    margin-left: 10px;
    color: yellowgreen;
    border-top: none;
    border-bottom: solid 1px darkgray;
    border-left: none;
    border-right: none;
}

#tbl_prof_edit tbody.tbody_edit_set tr td input:focus{
    background-color: white;
    box-shadow: 0px 0px 5px orange;
    border-radius: 2px;
    width: auto;
    color: black;
    border-top: none;
    border-bottom: solid 1px darkgray;
    border-left: none;
    border-right: none;
}

#a_edit_prof{
    color: rgba(200,200,200,.60);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

#a_edit_prof:hover{
    color: rgba(200,200,200,.60);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}

#a_edit_email{
    color: rgba(200,200,200,.60);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

#a_edit_email:hover{
    color: rgba(200,200,200,.60);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}

#a_edit_pass{
    color: rgba(200,200,200,.60);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

#a_edit_pass:hover{
    color: rgba(200,200,200,.60);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}

/*Email Set*/
#tbl_email_set{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#tbl_email_set thead tr td{
    width: 130px;
    padding-top: 15px;
    padding-bottom: 2px;
}

#tbl_email_set thead tr td span{
    color: rgb(200,200,200);
    font-weight: bold;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: underline;
}

#tbl_email_set tbody.tbody_edit_email_set tr td{
    padding-top: 15px;
    padding-bottom: 20px;
}

#tbl_email_set tbody.tbody_edit_email_set tr td span{
    color: rgb(200,200,200);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: none;
}

#tbl_email_set tbody.tbody_edit_email_set tr td input{
    background-color: rgba(200,200,200,.0);
    width: auto;
    margin-left: 10px;
    color: yellowgreen;
    border-top: none;
    border-bottom: solid 1px darkgray;
    border-left: none;
    border-right: none;
}

#tbl_email_set tbody.tbody_edit_email_set tr td input:focus{
    background-color: white;
    box-shadow: 0px 0px 5px orange;
    border-radius: 2px;
    width: auto;
    color: black;
    border-top: none;
    border-bottom: solid 1px darkgray;
    border-left: none;
    border-right: none;
}

/*Password Set*/
#tbl_pass_set{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#tbl_pass_set thead tr td{
    width: 130px;
    padding-top: 15px;
    padding-bottom: 2px;
}

#tbl_pass_set thead tr td span{
    color: rgb(200,200,200);
    font-weight: bold;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: underline;
}

#tbl_pass_set tbody.tbody_edit_pass_set tr td{
    padding-top: 15px;
    padding-bottom: 20px;
}

#tbl_pass_set tbody.tbody_edit_pass_set tr td span{
    color: rgb(200,200,200);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 13px;
    text-decoration: none;
}

#tbl_pass_set tbody.tbody_edit_pass_set tr td input{
    background-color: rgba(200,200,200,.0);
    width: auto;
    margin-left: 10px;
    color: yellowgreen;
    border-top: none;
    border-bottom: solid 1px darkgray;
    border-left: none;
    border-right: none;
}

#tbl_pass_set tbody.tbody_edit_pass_set tr td input:focus{
    background-color: white;
    box-shadow: 0px 0px 5px orange;
    border-radius: 2px;
    width: auto;
    color: black;
    border-top: none;
    border-bottom: solid 1px darkgray;
    border-left: none;
    border-right: none;
}

#error_pass{
    color: red;
    font-size: 13px;
    font-family: Nimbus Sans L;
    font-weight: normal;
}

#error_email_pass{
    color: red;
    font-size: 13px;
    font-family: Nimbus Sans L;
    font-weight: normal;
}

#error_h_pass{
    color: red;
    font-size: 13px;
    font-family: Nimbus Sans L;
    font-weight: normal;
}

#error_new_pass{
    color: red;
    font-size: 13px;
    font-family: Nimbus Sans L;
    font-weight: normal;
}

tfoot tr td{
    padding-top: 15px;
    padding-bottom: 15px;
}

tfoot tr td input{
    margin-left: 10px;
    margin-right: 3px;
    background-color: rgba(200,200,200,.0);
    width: 160px;
    border-top: none;
    border-bottom: solid 1px darkgray;
    border-left: none;
    border-right: none;
}

tfoot tr td input:focus{
    background-color: white;
    box-shadow: 0px 0px 5px orange;
    border-radius: 2px;
    width: 160px;
    border-top: none;
    border-bottom: solid 1px darkgray;
    border-left: none;
    border-right: none;
}

tfoot tr td span{
    color: rgb(200,200,200);
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    font-size: 12px;
    text-decoration: none;
}

tfoot tr td button{
    border: solid 1px rgba(220,220,220,.40);
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    padding: 2px;

}

tfoot tr td button:hover{
    border: solid 1px silver;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    padding: 2px;
}